
body {
    background-color: var(--main-1);

    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    color: var(--color);

    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, body, div#root, div.wrapper, main {
    width: 100vw;
}

button {
    background: none;
    border: none;
    outline: none;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.5rem;

    cursor: pointer;
}