
.scroll-indicator {
    position: fixed;
    left: 3rem;
    top: 50%;

    transform: translateY(-50%);

    width: 3.5rem;
    height: 20rem;

    --background: var(--secondary-0);
    > .paper-stack {
        --background: var(--primary-0);
        > .paper-stack {
            --background: var(--contrast-1);
        }
    }

    .paper-stack, ol {
        width: 100%;
        height: 100%;

        position: relative;

        display: grid;
        place-items: center;
    }

    > .paper-stack > .paper-stack {
        padding: 3rem 0;
        box-sizing: border-box;
    }

    ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
        border-radius: 1rem;

        position: relative;

        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        place-items: unset;
    }

    li {
        display: grid;
        place-items: center;

        position: relative;
    }

    li > div.dot {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;

        background-color: var(--contrast-2);

        cursor: pointer;
    }

    .indicator {
        transition: transform 100ms ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;

        z-index: 2;

        display: grid;
        place-items: center;

        transform-origin: top;

        > span {
            --height: inherit;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
    
            background-color: var(--secondary-0);
        }
    }
}